{% extends "base.html" %}
{% block title %}Worlds at War - Legal{% endblock %}

{% block content %}

<center>
  <h1>Legal</h1>
  <a href="#tandc">T&amp;Cs</a> / <a href="#privacy">Privacy Policy</a>
</center>


<h2 id="tandc">Terms and Conditions</h2>

<p><b>Introduction</b></p>
These terms of use govern your use of the website wawgame.eu (<i>the site</i>); by using the site, you agree to these terms of use in full. If you disagree with these terms of use or any part of these terms of use, you must not use the site.
<br>
You must be at least 13 years of age to use the site. By using the site and by agreeing to these terms of use, you warrant and represent that you are at least 13 years of age.
<br>
The site uses cookies. By using the site and agreeing to these terms of use, you consent to the use of cookies in accordance with the terms of the privacy policy below.

<br>

<p><b>Licence to use site</b></p>
All intellectual property rights are reserved.

<br>

<p><b>Acceptable use</b></p>
You must not use the site in any way that causes, or may cause, damage to the site or impairment of the availability or accessibility of the site; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
<br>
You must not use the site to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any malicious computer software.
<br>
You must not conduct any systematic or automated data collection activities (including, without limitation, scraping, data mining, data extraction and data harvesting) on or in relation to the site without express written consent.

<br>

<p><b>Restricted access</b></p>
If you sign up, you must ensure that the password you choose is kept confidential.
<br>
You must notify the administrator immediately if you become aware of any unauthorised use of your account or password.
<br>
You are responsible for any activity on the site arising out of any failure to keep your password confidential.
<br>
You must not use any other person's username and password to access the site.
<br>
We may disable your username and password at any time in sole discretion with or without notice or explanation.

<br>

<p><b>User content</b></p>
In these terms of use, "your content" means material (including, without limitation, text, images, audio material, video material and audio-visual material) that you submit to the site, for whatever purpose.
<br>
You grant to the administrator a worldwide, irrevocable, non-exclusive, royalty-free licence to use, reproduce, adapt, publish, translate and distribute your content in any existing or future media. You also grant the right to sub-license these rights and the right to bring an action for infringement of these rights.
<br>
You warrant and represent that your content will comply with these terms of use.
<br>
Your content must not be illegal or unlawful, must not infringe any third party's legal rights and must not be capable of giving rise to legal action whether against you or the administrator or a third party.
<br>
You must not submit any content to the site that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.
<br>
We reserve the right to edit or remove any material submitted to the site, or stored on the servers, or hosted or published upon the site.
<br>
Notwithstanding our rights under these terms of use in relation to your content, we do not undertake to monitor the submission of such content to, or the publication of such content on, the site.

<br>

<p><b>Limited warranties</b></p>
To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to the site and the use of the site (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).

<br>

<p><b>Limitations and exclusions of liability</b></p>
To the extent that the site and the information and services on the site are provided free of charge, we will not be liable for any loss or damage of any nature.

<br>

<p><b>Indemnity</b></p>
You hereby indemnify us and undertake to keep us indemnified against any losses, damages, costs, liabilities and expenses (including, without limitation, legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by you of any provision of these terms of use, or arising out of any claim that you have breached any provision of these terms of use.

<br>

<p><b>Breaches of these terms of use</b></p>
Without prejudice to our other rights under these terms of use, if you breach these terms of use in any way, we may take such action as we deem appropriate to deal with the breach, including suspending your access to the site, prohibiting you from accessing the site, blocking computers using your IP address from accessing the site, contacting your internet service provider to request that they block your access to the site and/or bringing court proceedings against you.

<br>

<p><b>Variation</b></p>
We may revise these terms of use from time to time. Revised terms of use will apply to the use of the site from the date of publication of the revised terms of use on the site.

<h2 id="privacy">Privacy Policy</h2>

<p><b>What information is collected?</b></p>
Information is collected from you when you register on Worlds at War.
<br><br>
When registering, you will be asked to enter a username and your e-mail address. You may, however, visit certain parts of the site anonymously.

<br>

<p><b>What is your information used for?</b></p>
Your information is only used to identify you as a player on the game. Your email may be used to contact you for various administrative tasks, e.g. password reminders.

<br>

<p><b>How do we protect your information?</b></p>
Your information is held in a secure database. Your passwords are hashed and salted.

<br>

<p><b>Do we use cookies?</b></p>
Yes. Cookies are small files that a site transfers to your computers' hard drive through your Web browser, if you allow, that enables the site's systems to recognize your browser and capture and remember certain information. We use cookies to record your login details for future visits.

<br>

<p><b>Do we disclose any information to outside parties?</b></p>
Your information is not released to anyone, except to comply with the law.

<br>

<p><b>Your Consent</b></p>
By using the site, you consent to this privacy policy.

<br>

<p><b>Changes</b></p>
If the privacy policy is changed, updates will be posted on this page.

<br>

<p><b>Contacting Us</b></p>
If there are any questions regarding this privacy policy, you may contact me using the information below.

<p class="center bigger">heidi, mlpanon@gmail.com</p>

{% endblock %}