{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Worlds at War - About{% endblock %}

{% block content %}

<center>

  <img src="{% static "wawmembers/splash2.png" %}" alt="Splash" height="305" width="845">

  <p class="bigger">Worlds at War is a galactopolitical simulator, designed, coded and administrated by me, heidi.</p>
  <p class="bigger">True Evangelion also helps out with administration.</p>
  <p>You may contact me at mlpanon@gmail.com.</p>

</center>

{% endblock %}