{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Worlds at War - Donate{% endblock %}

{% block content %}

<center>

  <h1>Donating</h1>

  <p>Thank you for looking into donating!</p>

  <p>You'll notice there are no ads on Worlds at War. My only revenue stream is donations.</p>

  <p>Here is a list of cool things you get <b>if you donate at least 5 of the Queen's finest British currency</b> (£GBP):</p>

  <ol>
    <li>
      Supporting an indie game and its dev! &nbsp;
      <img src="{% static "wawmembers/heart.png" %}" alt="Heart">
    </li>
    <li>A fancy blue username in various places</li>
    <li>The option to have a custom flag and avatar</li>
    <li>The option to have a custom flagship picture</li>
    <li>The option to have a custom url</li>
    <li>An anthem to be displayed on your world page</li>
    <li>The ability to change your world descriptor and leader title</li>
    <li>Contribute a quote to the random selection appearing at the foot of every page (contact me in some way for this)</li>
  </ol>

  <p> A section of the settings page after donation:<p>

  <img src="{% static "wawmembers/donate.png" %}" alt="Donate">

  <p>Include the username or world number of the person you wish to receive donor status to speed things up!</p>

  no donating for now

</center>

{% endblock %}